:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --opacity-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --heder-bg-color: #ffffff;
  --bacik-bg-color: #e5e5e5;
  --second-bg-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;

  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bacik-bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}
/*---------------------header-------------------------------*/
.header-container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--heder-bg-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.header-contact {
  display: flex;
}
.header-co {
  margin-left: auto;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 96px;
}

.letter {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.header-item:not(:last-child) {
  margin-right: 53px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-link:hover {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
}

.header-contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 0.2s linear;
  color: var(--main-text-color);
  margin-left: 53px;
}

.header-contact-phone:hover,
.header-contact-phone:focus {
  color: var(--accent-color);
}

.header-contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 0.2s linear;
  color: var(--main-text-color);
}

.header-contact-mail:hover,
.header-contact-mail:focus {
  color: var(--accent-color);
}

/*---------------------hero-------------------------------*/

.hero {
  background-color: var(--second-bg-color);
}

.hero-container {
  display: flex;
  padding: 200px 452px 280px 452px;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  max-width: 696px;
}

.btn-item:hover {
  background-color: var(--accent-color);
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-title-color);

  margin-top: 360px;
  margin-bottom: 210px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.btn {
  cursor: pointer;
  font-family: inherit;
}

.btn-fil {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  background-color: var(--bacik-bg-color);
}

.btn-fil:hover,
.btn-fil:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
.btn-fil {
  cursor: pointer;
}

/*---------------------about-------------------------------*/

.about {
  background-color: var(--bacik-bg-color);
}
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  padding: 94px 215px 94px 215px;
}

.about-item {
  margin-right: 30px;
}

.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);

  margin-bottom: 10px;
}
.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/*---------------------about-work-------------------------------*/
.work-container {
}

.about-w-list {
  display: flex;
  justify-content: space-between;
}
.about-w-item {
  margin-right: 30px;
}
.about-w-item:last-child {
  margin-right: 30px;
}
.about-work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.comand-list {
  display: flex;
  justify-content: space-between;
}

.menu-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--second-title-color);
}

.menu-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/*---------------------comand-------------------------------*/
.comand-container {
}

.comand-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  margin-bottom: 50px;
}
.comand-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.comand-pre-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.11;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/*---------------------footer-------------------------------*/
.footer {
  background-color: var(--second-bg-color);
}

.footer-contact-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-mail:hover,
.footer-contact-mail:focus {
  color: var(--main-title-color);
}
.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: var(--main-title-color);
}
.footer-contact-adress:hover,
.footer-contact-adress:focus {
  color: var(--main-title-color);
}

.letter-f {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/*--------------------- </index> -------------------------------*/
